h1{
    font-size: 24px;
    font-family: Tahoma; 
}

h2{
    font-size: 18px;
    color: red;

}

h3{
    font-size: 14px;
    color: red;

}

body{
    font-size: 10px;
    color: red;

}
